{% extends "pooled_contest/css.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}
{% if subsession.round_number > Constants.num_trial_rounds %}
<p id="round_numbers">Period {{ subsession.real_round_number}} of {{ Constants.num_real_rounds}}</p>
{% else %}
<p id="round_numbers"> This is a trial period</p>
{% endif %}
<p class="stage">Outcome of Stage 2</p><br>

{% if group.total_tickets2 == 0 %}
    <p class="center"> <b>No one purchased any tickets</b>. <br>
        Therefore, the computer <b>randomly</b> select one player to receive the reward. <br><br>

    {% if player.is_winner2 == 'Yes' %}
        <u>You are selected and will get the reward</u>. <br><br>
        Your Stage 2 earnings = Endowment ({{ endowment }}) + Reward ({{ Constants.reward }})– Points spent ({{ player.spend2 }}) = <b>{{ player.payoff2 }} points</b>. <br>
        Recall that Your Stage 1 earnings are: {{ player.payoff1 }} points. <br>
        Therefore, your total earnings over both stages are: <b>{{ player.payoff_twostages }} points</b>.
    {% else %}
        <u>You are not selected and will not get the reward</u>. <br><br>
        Your Stage 2 earnings = Endowment ({{ endowment }}) – Points spent ({{ player.spend2 }}) = <b>{{ player.payoff2 }} points</b>. <br>
        Recall that Your Stage 1 earnings are: {{ player.payoff1 }} points. <br>
        Therefore, your total earnings over both stages are: <b>{{ player.payoff_twostages }} points</b>.
    {% endif %}
    <br><br>
    </p>
    {% next_button %}

{% else %}
    <table id="spending">
        <tr>
            <th>Player</th>
            <th>Type</th>
            <th>No. of points spent</th>
            <th>No. of tickets</th>
            <th>Total no. of tickets in group</th>
            <th>Prob. of reward</th>
        </tr>
    </table>
    <br>
    <p class="center">
        The computer randomly draws a number between 1 and <span id="total"> </span> to determine the winner. 
    </p>
    <ul class="center">
        <li id="player1"></li>
        <li id="player2"></li>
        <li id="player3"></li>
        <li id="player4"></li>
    </ul>

    <!--     If the number is between 1 and <span id="player1"></span>, Player 1 wins; <br>
        If the number is between <span id="player1Plus"></span> and <span id="player2"></span>, Player 2 wins, and so on.  -->

    <div class="center">
        <button type="button", onclick="showPayoff()">Click to get the random number</button>
    </div>


    <div id="earning">
        <p class="center">
            <br>
            The random number is {{ group.winner_ticket_num2 }},<br>

            {% if player.is_winner2 == 'Yes' %}
                Therefore, <u>you are the winner and will get the reward</u>. <br><br>
                Your Stage 2 earnings = Endowment ({{ endowment }}) + Reward ({{ Constants.reward }})– Points spent ({{ player.spend2 }}) = <b>{{ player.payoff2 }} points</b>. <br>
                Recall that Your Stage 1 earnings are: {{ player.payoff1 }} points. <br>
                Therefore, your total earnings over both stages are: <b>{{ player.payoff_twostages }} points</b>.
            {% else %}
                Therefore, <u>you are not the winner and will not get the reward</u>. <br><br>
                Your Stage 2 earnings = Endowment ({{ endowment }}) – Points spent ({{ player.spend2 }}) = <b>{{ player.payoff2 }} points</b>. <br>
                Recall that Your Stage 1 earnings are: {{ player.payoff1 }} points. <br>
                Therefore, your total earnings over both stages are: <b>{{ player.payoff_twostages }} points</b>.
            {% endif %}
            <br><br>
        </p>
        {% next_button %}
    </div>
    <br><br>
{% endif %}

{% include Constants.instructions_template %}

<script>
    var idLst=js_vars.id_lst;
    var spend2Lst=js_vars.spend2_lst;
    var typo2Lst=js_vars.typo2_lst;
    var tickets2Lst=js_vars.tickets2_lst;
    var totalTickets=js_vars.total_tickets;
    var prob2Lst=js_vars.prob2_lst;
    var yourId = js_vars.your_id


    for (var i = 3; i >-1; i--){
        var table = document.getElementById("spending");
        var row = table.insertRow(1);
        var cell0 = row.insertCell(0);
        var cell1 = row.insertCell(1);
        var cell2 = row.insertCell(2);
        var cell3 = row.insertCell(3);
        var cell4 = row.insertCell(4);
        var cell5 = row.insertCell(5);
        if (idLst[i] == yourId){
            cell0.innerHTML = idLst[i] + '<br>' + '(Your ID)';
        }
        else {
            cell0.innerHTML = idLst[i];
        }
        cell1.innerHTML = typo2Lst[i];
        cell2.innerHTML = spend2Lst[i];
        cell3.innerHTML = tickets2Lst[i];
        cell4.innerHTML = totalTickets;
        cell5.innerHTML = prob2Lst[i];
    }

    document.getElementById("total").innerHTML = totalTickets;

    player1 = tickets2Lst[0]
    player1Plus = tickets2Lst[0]+1;    
    player2 = tickets2Lst[0] + tickets2Lst[1];
    player2Plus = player2 +1;
    player3 = tickets2Lst[0] + tickets2Lst[1] + tickets2Lst[2];
    player3Plus = player3 + 1;

    if (tickets2Lst[0]!=0) {
        document.getElementById("player1").innerHTML = "If the number is between 1 and "+player1+", Player 1 wins"
    } else {
        document.getElementById("player1").innerHTML = "Player 1 has no tickets"
    }
    if (tickets2Lst[1]!=0) {
        document.getElementById("player2").innerHTML = "If the number is between " + player1Plus +" and " + player2 + ", Player 2 wins"
    } else {
        document.getElementById("player2").innerHTML = "Player 2 has no tickets"
    }

    if (tickets2Lst[2]!=0) {
        document.getElementById("player3").innerHTML = "If the number is between " + player2Plus +" and "+player3+", Player 3 wins"
    } else {
        document.getElementById("player3").innerHTML = "Player 3 has no tickets"
    }

    if (tickets2Lst[3]!=0) {
        document.getElementById("player4").innerHTML = "If the number is between " + player3Plus +" and "+totalTickets+", Player 4 wins"
    } else {
        document.getElementById("player4").innerHTML = "Player 4 has no tickets"
    }

    // // slice the array to using sum function, this wont work.
    // document.getElementById("player2Plus").innerHTML = tickets1Lst[0] +tickets1Lst[1] + 1;

    document.getElementById("earning").style.display = 'none'
    function showPayoff() {
      var x = document.getElementById("earning");
      if (x.style.display === "none") {
        x.style.display = "block";
      } 
    }
</script>
{% endblock %}





