{% extends "prodem_homo/css.html" %}
{% load otree static %}


{% block title %}
    Quiz
{% endblock %}

{% block content %}
    {% for d in fields %}
        {% formfield d.name %}
        
        {% if show_solutions %}
            {% if d.is_correct %}
                <p class="solution-correct">
                    Correct.
                </p>
            {% else %}
                <p class="solution-incorrect">
                    {{ d.explanation }}
                </p>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% next_button %}
        <br><br>
    {% include Constants.instructions_template %}
    
{% endblock %}